<p id="notice"><%= notice %></p>

<h1>Employees</h1><hr/>
<div><p>As on <%= Time.now %>Refresh</p><p>Search</p></div>

<table class="table display" style="width:100%" id="emp-table">
  <thead>
    <tr>
      <th>S. no.</th>
      <th>First name</th>
      <th>Virtual first name</th>
      <th>Username email</th>
      <th>Gender</th>
      <th>Chat limit</th>
      <th>Email limit</th>
      <th>Is multisession allow</th>
      <th>Select volume</th>
      <th>Select ring type</th>
      <th>Created date</th>
      <th>Role</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each_with_index do |employee, index| %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.virtual_first_name %></td>
        <td><%= employee.username_email %></td>
        <td><%= employee.gender %></td>
        <td><%= employee.chat_limit %></td>
        <td><%= employee.email_limit %></td>
        <td><%= employee.is_multisession_allow %></td>
        <td><%= employee.select_volume %></td>
        <td><%= employee.select_ring_type %></td>
        <td><%= employee.created_date %></td>
        <td><%= employee.role %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table><br/>

<%= will_paginate @employees %>

<br>

<%= link_to 'New Employee', new_employee_path %>

<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
  <script>
  $(function(){
    $("#emp-table").dataTable();
  })
  </script>
